* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.auth-wrapper {
  min-height: 100vh;

  height: 100vh;

  overflow: hidden;

  color: var(--color-text);

  display: flex;

  flex-direction: column;

  background-color: var(--color-bg);

  position: relative;

  transition:
    background .3s ease,
    color .3s ease;
}

.auth-topbar,
.auth-body {
  position: relative;

  z-index: 1;
}

.auth-body {
  flex: 1;

  display: flex;

  align-items: stretch;

  overflow: hidden;

  min-height: 0;

  background: var(--color-surface);
}

/* wrapper del registro para escritorio */

.registro-panel-wrapper {
  flex: 0 0 35%;

  display: flex;
}

.registro-mobile-visible {
  display: none;
}

.mobile-register-btn,
.mobile-login-btn {
  display: none;
}


/* MOBILE */


@media (max-width: 768px) {

  .auth-wrapper {
    overflow-y: auto;
    height: auto;
    min-height: 100vh;
  }

  .auth-body {
    flex-direction: column;
    overflow: visible;
  }

  /* ocultamos carrusel */
  .auth-carrusel {
    display: none;
  }

  /* ocultar registro normal */
  .registro-panel-wrapper {
    display: none;
  }

  /* mostrar registro cuando se toca botón */
  .registro-mobile-visible {
    display: flex;
    width: 100%;
  }

 
  .mobile-login-btn {
    display: block;
    width: calc(100% - 48px);
    margin: 24px auto 40px;
    height: 56px;
    border: none;
    border-radius: 12px;
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  }

 
  .mobile-register-btn {
    display: block;
    width: calc(100% - 48px);
    height: 56px;
    border: none;
    border-radius: 12px;
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;

    position: absolute;
    bottom: 24px;   
    left: 24px;     
    margin: 0;      

  .mobile-only-topbar .auth-topbar-form {
    display: none !important;
  }
  
  .mobile-only-topbar .auth-topbar {
    min-height: auto !important;
    padding-bottom: 10px !important;
  }

}

