.home-layout {
    display: grid;
    grid-template-columns: 280px minmax(650px, 1fr) 240px;
    gap: 2rem;
    max-width: 1500px;
    margin: 2rem auto;
    padding: 0 2rem;
    
}


/* STICKY */
.sticky-sidebar {
    position: sticky;
    top: 78px;
}



/* --- MENSAJE DE FILTRO ACTIVO --- */
.filter-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-cards);
    border: 1px solid #00843D;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #1c3d27;
}

.filter-alert button {
    background: #00843D;
    color: white;
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

.filter-alert button:hover {
    background-color: #00662f;
}




