.home-layout {
    display: flex;
    gap: 2rem;
    max-width: 1500px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.home-sidebar-left {
    width: 280px;
    flex-shrink: 0;
}

.home-feed {
    flex: 1;
    min-width: 0;
}

.home-sidebar-right {
    width: 240px;
    flex-shrink: 0;
}

/* STICKY */
.sticky-sidebar {
    position: sticky;
    align-self: flex-start;
    top:calc(var(--navbar-height) + 16px);
}

/* --- MENSAJE DE FILTRO ACTIVO --- */
.filter-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-cards);
    border: 1px solid #00843D;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #1c3d27;
}

.filter-alert button {
    background: #00843D;
    color: white;
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

.filter-alert button:hover {
    background-color: #00662f;
}

@media (max-width:768px){

    .home-layout{
        display: block;
        width:100%;
        margin:1rem auto;
        padding:0 .75rem 5rem; /* espacio para el footer */
    }

    .home-sidebar-left,
    .home-sidebar-right{
        display:none;
    }

    .home-feed{
        width:100%;
        min-width:0;
    }

    .sticky-sidebar{
        position:static;
    }

}
.home-sidebar-left,
.home-sidebar-right {
    min-height: 1px;
}