.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    height: 62px;
    background-color: var(--color-bg);
    border-bottom:1px solid var(--color-border);
    position: sticky;
    top: 0;
    z-index: 100;
     box-shadow:none;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.navbar-logo {
    width: 60px;
    height: 60px;
    font-size: 1.6rem;
    color: var(--color-primary);
}

.navbar-search{
    background: var(--color-bg);
    border:1px solid var(--color-text-muted);
    border-radius:4px;
    padding:.45rem 1rem;
    font-size:.9rem;
    outline:none;

    width:220px;
    color:var(--color-text);

    transition:
        width .28s ease,
        border-color .2s ease,
        box-shadow .2s ease;
}

.navbar-search:focus{
    width:360px;
    border-color:var(--color-primary);
    box-shadow:0 0 0 3px rgba(0,132,61,.12);
}

.navbar-search::placeholder {
    color: var(--color-text-muted);
}

.navbar-center {
    display: flex;
    height: 62px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    font-size:.8rem;
    font-weight:700;
    padding: 0 1.2rem;
    border-bottom: 3px solid transparent;
    gap: 3px;
    cursor: pointer;
    transition: all 0.15s;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.nav-item i {
    font-size: 1.3rem;
}

.nav-item:hover {
    color: var(--color-primary);
}

.nav-item.active {
    color: var(--color-primary);
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-avatar {
    background: none;
    border: none;
    cursor: pointer;

    font-size: 2rem;
    color: var(--color-text-secondary);

    transition: .2s;
}

.navbar-avatar:hover {
    color: var(--color-primary);
}

.navbar-avatar-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

/* ── MOBILE ── */
@media (max-width: 768px) {
    .navbar {
        padding: 0 1rem;
        height: 56px;
    }

    .navbar-center {
        display: none;
    }

    .navbar-left {
        flex: 1;
        gap: 0.5rem;
    }

    .navbar-search {
        flex: 1;
        width: 100%;
    }

    .navbar-search:focus {
        width: 100%;
    }

    .navbar-logo {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }
    .navbar {
        /* lo que ya tenés, agregá: */
        transition: transform 0.3s ease;
    }
    
    .navbar-hidden {
        transform: translateY(-100%);
    }
}